<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
<title>{{ .Site.Title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Description }}">
<meta name="keywords" content="atomic chess, chess, strategy, tactics">
<meta name="author" content="{{ .Site.Params.Author }}">
<link rel="stylesheet" href="css/default.css">
</head>

<body>

<nav>
<ul class="navbar">
  {{ range .Site.Menus.main }}
  <li><a href="{{ relURL .URL }}">{{ .Name }}</a></li>
  {{ end }}
</ul>
</nav>

{{ .Content }}

<ul>
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
	<a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
 </ul>
 
</body>

</html>